.menu-item {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 21px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menu-item:hover {
  transform: translateY(-3px);
}
.menu-item:active {
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
}
.menu-item-active {
  font-size: 21px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  opacity: 1;
}
//////////////////////////////////////////////
.quantity-basket {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.404);
  width: 21px;
  height: 21px;
  font-size: 13px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 60px;
  z-index: 10;
}
///////////////////////////////////////////////
.quantity-favorite {
  display: flex;
  position: fixed;
  background-color: rgba(215, 122, 122, 0.984);
  width: 21px;
  height: 21px;
  font-size: 13px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 125px;
  z-index: 10;
}
//////////////////////////////////////

///////////////////////////////////////
.favorite {
  display: flex;
  margin-bottom: 1px;
  width: 30px;
}
.basket {
  display: flex;
  width: 30px;
  margin-bottom: 5px;
  z-index: 5;
}
////////////////////////////////
.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  border-radius: 10px;
}
.button-header {
  margin-right: -100px;
}

input {
  outline: none;
  outline-offset: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
//////////////////////////////
.search {
  display: flex;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 35px;
  margin-left: 50px;
  margin-right: 10px;
  padding: 10px;
}
