.menu-item {
    text-decoration: none;
    color: white;
    font-size: 21px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  cursor: pointer;
}
.menu-item-active {
    font-size: 21px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    opacity: 1;
}

.favorite{
  display: flex;
  margin-bottom: 1px;
  width: 30px;
  
}
.basket{ 
  display: flex;
  width: 30px;
  margin-bottom: 5px;
}
.css-1y942vo-MuiButtonBase-root-MuiButton-root{
  border-radius: 10px;
}
.button-header{
  margin-left: 40px;

}
