.footer {
    background-color: rgb(41, 79, 66);
    padding: 5px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    bottom: 0;
}
  .footer-content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    gap: 20;
    align-items: flex-start;
    justify-content: space-around;
  }
  
  .footer-section {
    flex-basis: 20%;
    margin-bottom: 30px;
    color: white;
  }
  
  .footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .text-footer{
    a{
      text-decoration: none;
      color: white;
    }
  }
 
 
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
  }
  
