.product-quantity {
  margin-top: 10px;
  margin-bottom: 10px;
}

.qauntity-btn {
  text-align: center;
  width: 50px;
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(48, 99, 81);
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.qauntity-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.qauntity-btn:active {
  background-color: rgb(68, 145, 118);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
}
.quantity-num {
  text-align: center;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;

  font-size: 20px;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  font-weight: bold;
  cursor: default;
  background-color: rgb(48, 99, 81);
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
